html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #122;
}

.output {
  display: flex;
  height: 100vh;
}

pre {
  font-family: "Hack";
  color: white;
  background: #122;
  margin: 0;
  height: 100%;
  line-height: 20px;
}

.terminal-line {
  margin: -1px 0px;
}

.active {
  border: 1px solid rebeccapurple;
}

.divider {
  background: #233;
  flex-shrink: 0;
}

.controls {
  display: flex;
  justify-content: space-between;
}

.controls input {
  flex-grow: 10;
}

webview {
  width: 100%;
  height: 100%;
}
